@{
    ViewBag.Title = @Resource.QuizTitle;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>@Resource.Welcome</p>
        </div>
    </section>
}
<h3>@Resource.Usermessage</h3>
<ol class="round">
       <li class="one">@Html.ActionLink(Resource.Tests, "Index", "Test")</li>
       <li class="two">@Html.ActionLink(Resource.QuestionCategories, "Index", "QuestionCategory")</li>
       <li class="three">@Html.ActionLink(Resource.Questions, "Index", "Question")</li>
       <li class="for">@Html.ActionLink(Resource.Quizzes, "Index", "Quiz")</li>
     
</ol>
<h3>@Resource.Studentmessage</h3>
<ol class="round">
    <li class="one">@Html.ActionLink(Resource.SelectQuiz, "SelectQuiz", "SelectQuiz", new { area = "_Public" }, null)</li>
    <li class="two">@Html.ActionLink(Resource.SelectQuizByUser, "Users", "SelectQuiz", new { area = "_Public" }, null)</li>
    <li class="three">@Html.ActionLink(Resource.SelectQuizByCode, "SelectQuizByCode", "SelectQuiz", new { area = "_Public" }, null)</li>
    <li class="for">@Html.ActionLink(Resource.ContinueTest, "ContinueTest", "TakeQuiz", new { area = "_Public" }, null)</li>
</ol>