@model QuizWeb.Models.Quiz

@{
    ViewBag.Title = Resource.Details;
}

<h2>@Resource.Details</h2>

<fieldset>
    <p>@Html.LabelFor(m => m.Name) @Html.DisplayFor(m => m.Name)</p>
   
</fieldset>
<p>
    @Html.ActionLink(Resource.TakeQuiz, "Index", "TakeQuiz", new { id = Model.ID }, new { }) |
    @if (ViewBag.SortOrder != null || ViewBag.CurrentFilter != null || ViewBag.Page != null)
    {
        @Html.ActionLink(Resource.BackToList, (string)ViewBag.List, new { sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter, page = ViewBag.Page, userID = ViewBag.UserID })
    }
    else 
    { 
       @Html.ActionLink(Resource.SelectQuizByCode, "SelectQuizByCode")
    }
</p>
