@model PagedList.IPagedList<QuizWeb.Models.Quiz>

@{
    ViewBag.Title = Resource.Quizzes;
}

<h2>@Resource.Quizzes</h2>


@using (Html.BeginForm())
{
    <p>
        @Resource.SearchByCode: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) &nbsp;
        <input type="submit" value="@Resource.Search" /></p>
}

<table>
<tr>
    <th></th>
       <th>
        @Resource.QuizName
    </th>
     <th>
        @Resource.QuizCode
    </th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
             @Html.ActionLink(Resource.Details, "Details", new { id = item.ID, currentFilter = ViewBag.CurrentFilter, sortOrder = ViewBag.CurrentSort, page = Model.PageNumber, userID = ViewBag.UserID, list = ViewBag.List }, new { @class = "buton-detalii", @title = @Resource.Details }) 

        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
       
    </tr>
}

</table>

<div class="navi-bar">
    @Resource.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    @Resource.of @Model.PageCount
    &nbsp;
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink(Resource.FirstPage, "Index", new { page = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, userID=ViewBag.UserID })
        @Html.Raw("&nbsp;");
        @Html.ActionLink(Resource.Prev, "Index", new { page = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, userID = ViewBag.UserID })
    }
    else
    {
        @Resource.FirstPage
        @Html.Raw("&nbsp;");
        @Resource.Prev
    }
    &nbsp;
    @if (Model.HasNextPage)
    {
        @Html.ActionLink(Resource.Next, "Index", new { page = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, userID = ViewBag.UserID })
        @Html.Raw("&nbsp;");
        @Html.ActionLink(Resource.LastPage, "Index", new { page = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, userID = ViewBag.UserID })
    }
    else
    {
        @Resource.Next
        @Html.Raw("&nbsp;")
        @Resource.LastPage
    }
</div>