@model QuizWeb.Models.Test

@{
    ViewBag.Title = Resource.CreateNew;
}

<h2>@Resource.CreateNew</h2>


@using (Html.BeginForm()) {

  @Html.ValidationSummary(false)
   
    
    <fieldset>

     <legend>@Resource.Test</legend>
  
  @Html.Partial("_Fields")


        <p>
            <input type="submit" value="@Resource.Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resource.BackToList, "Index")
</div>
